Repository omaroskars/island.is, changes with the owners that .github/CODEOWNERS names for each.
All owners: @island-is/core, @island-is/kosmos-kaos, @island-is/aranja, @island-is/vice-versa, @island-is/kolibri, @island-is/sendiradid, @island-is/stefna, @island-is/island-ui, @island-is/devops, @jeremybarbet, @island-is/advania, @island-is/deloitte

.github/CODEOWNERS:

# Fallback. If there is no owner, assign to core maintainers.
# Remove fallback rule while graphql files are in the way.
# *                               @island-is/core

/*                                                        @island-is/core
/.github/                                                 @island-is/core

# Add new projects here.
# Project folders are usually owned by the team assigned.

# Order is important; the last matching pattern takes the most precedence.
# Make sure that team names are correct or everything stops working.
# Organisation name is @island-is, not @island.is

/apps/web*/                                               @island-is/kosmos-kaos @island-is/aranja
/libs/api/domains/cms/                                    @island-is/kosmos-kaos @island-is/aranja

/*/air-discount-scheme/                                   @island-is/vice-versa
/*/gjafakort/                                             @island-is/vice-versa
/libs/application/templates/driving-license/              @island-is/vice-versa

/apps/application-system/                                 @island-is/aranja
/libs/api/domains/application/                            @island-is/aranja
/libs/application/                                        @island-is/aranja

/apps/judicial-system/                                    @island-is/kolibri
/libs/judicial-system/                                    @island-is/kolibri
/libs/nova-sms/                                           @island-is/kolibri
/libs/dokobit-signing                                     @island-is/kolibri
/libs/email-service                                       @island-is/kolibri

/*/service-portal*/                                       @island-is/sendiradid
/libs/api/domains/documents/                              @island-is/sendiradid
/libs/api/domains/national-registry/                      @island-is/sendiradid
/apps/services/user-profile/                              @island-is/sendiradid

/apps/services/search-indexer/                            @island-is/stefna @island-is/kosmos-kaos @island-is/aranja
/libs/content-search-toolkit/                             @island-is/stefna @island-is/kosmos-kaos @island-is/aranja
/libs/api/domains/content-search/                         @island-is/stefna @island-is/kosmos-kaos @island-is/aranja

/libs/island-ui/                                          @island-is/island-ui

/.github/actions/                                         @island-is/devops
/.github/workflows/                                       @island-is/devops
/apps/reference-backend/                                  @island-is/devops
/libs/infra*/                                             @island-is/devops
/libs/logging/                                            @island-is/devops
/scripts/                                                 @island-is/devops
/scripts/postinstall.js                                   @island-is/devops @jeremybarbet
/scripts/schemas.js                                       @island-is/devops @jeremybarbet

/apps/api-catalogue/                                      @island-is/advania
/libs/api/domains/api-catalogue/                          @island-is/advania
/libs/api-catalogue/                                      @island-is/advania

/libs/application/templates/document-provider-onboarding/ @island-is/advania
/apps/services/xroad-collector                            @island-is/advania

/apps/skilavottord/                                       @island-is/deloitte
/libs/skilavottord/                                       @island-is/deloitte

wip
  libs/application/core/src/lib/formUtils.ts
  libs/application/core/src/types/Fields.ts
  libs/application/templates/parental-leave/src/fields/Duration/index.tsx
  libs/application/templates/parental-leave/src/fields/Review/index.tsx
  libs/application/templates/parental-leave/src/fields/Rights/GiveRights.tsx
  libs/application/templates/parental-leave/src/fields/Rights/RequestRights.tsx
  libs/application/templates/parental-leave/src/fields/Rights/YourRightsBoxChart.tsx
  libs/application/templates/parental-leave/src/fields/parentalLeaveUtils.ts
  libs/application/templates/parental-leave/src/forms/ParentalLeaveForm.ts
  libs/application/ui-shell/src/components/FormField.tsx
  libs/application/ui-shell/src/lib/ApplicationForm.tsx
Owners: @island-is/aranja

wip
  libs/application/templates/parental-leave/src/config.ts
  libs/application/templates/parental-leave/src/fields/Duration/index.tsx
  libs/application/templates/parental-leave/src/fields/Rights/GiveDaysSlider.tsx
  libs/application/templates/parental-leave/src/fields/Rights/GiveRights.tsx
  libs/application/templates/parental-leave/src/fields/Rights/RequestRights.tsx
  libs/application/templates/parental-leave/src/fields/Rights/YourRightsBoxChart.tsx
  libs/application/templates/parental-leave/src/fields/parentalLeaveUtils.ts
  libs/application/templates/parental-leave/src/forms/ParentalLeaveForm.ts
  libs/application/templates/parental-leave/src/lib/dataSchema.ts
Owners: @island-is/aranja

learning as
  libs/application/core/src/lib/formUtils.ts
  libs/application/templates/parental-leave/src/fields/Duration/index.tsx
  libs/application/templates/parental-leave/src/fields/FirstPeriodStart/index.tsx
  libs/application/templates/parental-leave/src/fields/PeriodsRepeater/index.tsx
  libs/application/templates/parental-leave/src/fields/Rights/GiveDaysSlider.tsx
  libs/application/templates/parental-leave/src/fields/Rights/RequestRights.tsx
  libs/application/templates/parental-leave/src/fields/Rights/YourRightsBoxChart.tsx
  libs/application/templates/parental-leave/src/fields/parentalLeaveUtils.ts
  libs/application/templates/parental-leave/src/forms/ParentalLeaveForm.ts
  libs/application/templates/parental-leave/src/lib/dataSchema.ts
  libs/application/templates/parental-leave/src/lib/messages.ts
  libs/application/ui-fields/src/lib/DateFormField.tsx
  libs/application/ui-fields/src/lib/TextFormField.tsx
  libs/application/ui-shell/src/components/FormField.tsx
  libs/application/ui-shell/src/lib/ApplicationForm.tsx
  libs/localization/src/lib/useLocale.tsx
Owners: @island-is/aranja

Use FilterContext to pass isDialog value down to children components. Update story to remove duplicate markup to fix non unique id of input field.
  libs/island-ui/core/src/lib/Filter/Filter.stories.tsx
  libs/island-ui/core/src/lib/Filter/Filter.tsx
  libs/island-ui/core/src/lib/Filter/FilterMultiChoice/FilterMultiChoice.tsx
Owners: @island-is/island-ui

subpage documentation - first draft
  apps/web/subpages.md
Owners: @island-is/kosmos-kaos, @island-is/aranja

wip around
  libs/application/core/src/lib/formUtils.ts
  libs/application/core/src/validation/validators.ts
  libs/application/templates/parental-leave/src/fields/FirstPeriodStart/index.tsx
  libs/application/templates/parental-leave/src/fields/PeriodsRepeater/index.tsx
  libs/application/templates/parental-leave/src/fields/Rights/RequestRights.tsx
  libs/application/templates/parental-leave/src/fields/parentalLeaveUtils.ts
  libs/application/templates/parental-leave/src/forms/ParentalLeaveForm.ts
  libs/application/templates/parental-leave/src/lib/dataSchema.ts
  libs/application/ui-fields/src/lib/DateFormField.tsx
  libs/application/ui-fields/src/lib/TextFormField.tsx
  libs/application/ui-shell/src/components/FormField.tsx
  libs/application/ui-shell/src/validation/resolver.ts
  libs/shared/form-fields/src/lib/RadioController/RadioController.tsx
Owners: @island-is/aranja

changed paddings on several subpage layouts
  apps/web/components/SubpageDetailsContent/SubpageDetailsContent.tsx
  apps/web/screens/ApiCatalogue/ApiCatalogue.tsx
  apps/web/screens/Layouts/Layouts.tsx
  apps/web/screens/ServiceDetails/ServiceDetails.tsx
Owners: @island-is/kosmos-kaos, @island-is/aranja

run yarn format
  apps/web/screens/Layouts/Layouts.tsx
  apps/web/screens/ServiceDetails/ServiceDetails.tsx
Owners: @island-is/kosmos-kaos, @island-is/aranja

remove apps/api-catalogue reference from SUMMARY.md
  SUMMARY.md
Owners: @island-is/core

remove projects from nx and workspace
  nx.json
  workspace.json
Owners: @island-is/core

Added security headers.
  apps/auth-admin-web/next.config.js
  package.json
  yarn.lock
Owners: @island-is/core

Error modal now checking for active applications
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.treat.ts
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.tsx
  libs/application/templates/health-insurance/src/fields/index.ts
  libs/application/templates/health-insurance/src/forms/HealthInsuranceForm.ts
Owners: @island-is/aranja

added modal to handle errors
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.treat.ts
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.tsx
  libs/application/templates/health-insurance/src/fields/healthInsuranceUtils.ts
  libs/application/templates/health-insurance/src/fields/index.ts
  libs/application/templates/health-insurance/src/forms/HealthInsuranceForm.ts
Owners: @island-is/aranja

Renaming projects as well in nx.json
  nx.json
Owners: @island-is/core

Adding start-server-and-test pkg. Update 40_e2e.sh script.
  package.json
  scripts/ci/40_e2e.sh
Owners: @island-is/core, @island-is/devops

Renaming few e2e projects that contained '/' in their name.
  workspace.json
Owners: @island-is/core

Yarn format
  handbook/repository/workspace-settings.md
  workspace.json
Owners: @island-is/core

Add documentation. Update script to use command from workspace.json instead of .sh script.
  handbook/repository/workspace-settings.md
  package.json
  scripts/ci/40_e2e.sh
  workspace.json
Owners: @island-is/core, @island-is/devops

Moving commands to workspace.json for easier project config. Updating documentation.
  handbook/repository/workspace-settings.md
  scripts/ci/_wait-for.sh
  workspace.json
Owners: @island-is/devops, @island-is/core

Yarn format
  nx.json
  workspace.json
Owners: @island-is/core

Updating gitbook summary.
  SUMMARY.md
Owners: @island-is/core

Yarn format.
  workspace.json
Owners: @island-is/core

Remove start-server-and-test package. Add empty command for api-catalouge-e2e, project will be removed completely soon.
  package.json
  workspace.json
Owners: @island-is/core

Updating hosts as I changed it for the last test when using _wait-for
  workspace.json
Owners: @island-is/core

Fixed host for web-e2e to hard
  workspace.json
Owners: @island-is/core

Update resource path for skilavottord.
  workspace.json
Owners: @island-is/core

Adding common webpack config for react apps. Changing e2e to use production build. Config NextJS apps. Change e2e-ci commands. Update docs.
  .github/workflows/pullrequest.yml
  apps/air-discount-scheme/web/next.config.js
  apps/application-system/form/src/context/AuthProvider.tsx
  apps/application-system/form/webpack.config.js
  apps/gjafakort/web/next.config.js
  apps/judicial-system/web/src/shared-components/UserProvider/UserProvider.tsx
  apps/judicial-system/web/webpack.config.js
  apps/service-portal/src/store/store.ts
  apps/service-portal/webpack.config.js
  apps/skilavottord/web/next.config.js
  handbook/repository/workspace-settings.md
  libs/api/mocks/package.json
  libs/api/mocks/src/index.ts
  libs/shared/webpack/nrwl-config.js
  package.json
  scripts/ci/40_e2e.sh
  workspace.json
Owners: @island-is/devops, @island-is/vice-versa, @island-is/aranja, @island-is/kolibri, @island-is/sendiradid, @island-is/deloitte, @island-is/core

Regen yarn.lock
  yarn.lock
Owners: @island-is/core

added modal to handle errors
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.treat.ts
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.tsx
  libs/application/templates/health-insurance/src/fields/healthInsuranceUtils.ts
  libs/application/templates/health-insurance/src/fields/index.ts
  libs/application/templates/health-insurance/src/forms/HealthInsuranceForm.ts
Owners: @island-is/aranja

Error modal now checking for active applications
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.treat.ts
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.tsx
  libs/application/templates/health-insurance/src/fields/index.ts
  libs/application/templates/health-insurance/src/forms/HealthInsuranceForm.ts
Owners: @island-is/aranja

Move modal text to message file
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.tsx
  libs/application/templates/health-insurance/src/forms/messages.ts
Owners: @island-is/aranja

Add condition to check if user is registerd in Island
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.tsx
  libs/application/templates/health-insurance/src/forms/HealthInsuranceForm.ts
  libs/application/templates/health-insurance/src/forms/messages.ts
Owners: @island-is/aranja

Minor style changes
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.treat.ts
  libs/application/templates/health-insurance/src/fields/ErrorModal/ErrorModal.tsx
Owners: @island-is/aranja

Updating shared datatype, the xroad collector and graphql layer.
  libs/api-catalogue/elastic/elastic.yml
  libs/api-catalogue/services/src/lib/restmetadata.service.ts
  libs/api-catalogue/types/src/lib/service-version.model.ts
  libs/api-catalogue/types/src/lib/service.model.ts
  libs/api/domains/api-catalogue/src/lib/catalogue.service.ts
  libs/api/domains/api-catalogue/src/lib/models/catalogue.model.ts
Owners: @island-is/advania

showing xroad values in blue box
  apps/web/components/ServiceInformation/ServiceInformation.tsx
Owners: @island-is/kosmos-kaos, @island-is/aranja

Adding subsystem below owner
  apps/web/components/ServiceInformation/ServiceInformation.tsx
Owners: @island-is/kosmos-kaos, @island-is/aranja

Started working on updating gender
  apps/judicial-system/web/src/routes/Judge/CourtRecord/CourtRecord.tsx
Owners: @island-is/kolibri

Started working on adding court documents
  apps/judicial-system/web/src/routes/Judge/CourtRecord/CourtRecord.tsx
  apps/judicial-system/web/src/shared-components/CourtDocument/CourtDocument.treat.ts
  apps/judicial-system/web/src/shared-components/CourtDocument/CourtDocument.tsx
Owners: @island-is/kolibri

Break up code into more manageable sections
  apps/services/search-indexer/src/migrate/lib/aws.ts
  apps/services/search-indexer/src/migrate/lib/dictionary.ts
  apps/services/search-indexer/src/migrate/lib/elastic.ts
  apps/services/search-indexer/src/migrate/lib/kibana.ts
  apps/services/search-indexer/src/migrate/migrateAws.ts
  apps/services/search-indexer/src/migrate/migrateElastic.ts
  apps/services/search-indexer/src/migrate/migrateKibana.ts
  apps/services/search-indexer/webpack.config.js
  workspace.json
Owners: @island-is/stefna, @island-is/kosmos-kaos, @island-is/aranja, @island-is/core

Removed comment
  apps/services/search-indexer/src/migrate/migrateAws.ts
Owners: @island-is/stefna, @island-is/kosmos-kaos, @island-is/aranja
